@tailwind base;
@tailwind components;
@tailwind utilities;

/* Albert Sans Font */
@font-face {
    font-family: 'Albert Sans';
    src: url('../js/assets/fonts/AlbertSans-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Albert Sans';
    src: url('../js/assets/fonts/AlbertSans-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Albert Sans';
    src: url('../js/assets/fonts/AlbertSans-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Albert Sans';
    src: url('../js/assets/fonts/AlbertSans-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Albert Sans';
    src: url('../js/assets/fonts/AlbertSans-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@layer base {
    html {
        @apply transition-colors duration-300;
        overflow-y: scroll;
    }
}

@layer components {
    .sidebar-no-scrollbar {
        scrollbar-width: none;
        -ms-overflow-style: none;
    }
    
    .sidebar-no-scrollbar::-webkit-scrollbar {
        display: none;
    }
    
    .animate-slide-in {
        animation: slide-in 0.3s ease-out;
    }
}

@keyframes slide-in {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}

